.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #34607e;
    padding: 10px 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
  }
  
  .nav {
    display: flex;
  }
  
  .navLinks {
    display: flex;
  }
  
  .navLink {
    color: #ecf0f1;
    text-decoration: none;
    padding: 3%;
    margin-right: 2%;
    transition: background-color 0.3s;
    font-size: large;
    text-wrap: nowrap;
  }
  
  .navLink:hover {
    background-color: #34495e;
  }